---
name: tests

on:
  push:
    branches-ignore:
    - 'development/**'

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'yarn'
    - name: install dependencies
      run: yarn cache clean && yarn install --frozen-lockfile
    - name: lint yaml
      run: yarn --silent lint_yml
    - name: lint javascript
      run: yarn --silent lint -- --max-warnings 0
    - name: lint markdown
      run: yarn --silent lint_md
    - name: add hostname
      run: |
        sudo sh -c "echo '127.0.0.1 testrequestbucket.localhost' >> /etc/hosts"
    - name: test and coverage
      run: yarn --silent coverage
    - uses: codecov/codecov-action@v2
    - name: run executables tests
      run: yarn install && yarn test
      working-directory: 'lib/executables/pensieveCreds/'

  compile:
    name: Compile and upload build artifacts
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install NodeJS
      uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: yarn
    - name: Install dependencies
      run: yarn cache clean && yarn install --frozen-lockfile
    - name: Compile
      run: yarn build
    - name: Upload artifacts
      uses: scality/action-artifacts@v2
      with:
        url: https://artifacts.scality.net
        user: ${{ secrets.ARTIFACTS_USER }}
        password: ${{ secrets.ARTIFACTS_PASSWORD }}
        source: ./build
        method: upload
      if: success()
